#combineall{
background-color:midnightblue;
color:mintcream;
}
#para1{
border-style:ridge;
}
#para2{
border-style:ridge;
}
#para3{
border-style:ridge;
}
#para4{
border-style:ridge;
}
#para5{
border-style:ridge;
}
#para6{
border-style:ridge;
}
#para7{
border-style:double;
}
#para8{
border-style:double;
}
#para9{
border-style:double;
}
#para10{
border-style:double;
}
#para11{
border-style:double;
}
#para12{
border-style:double;
}